include ./admin-info-string
doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title 微信 | 后台管理系统
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		// basic styles
		link(href='/admin/css/bootstrap.min.css', rel='stylesheet')
		link(rel='stylesheet', href='/admin/css/font-awesome.min.css')
		//if IE 7
			link(rel='stylesheet', href='/admin/css/font-awesome-ie7.min.css')
		// page specific plugin styles
		block css
		// fonts
		link(rel='stylesheet', href='http://fonts.useso.com/css?family=Open+Sans:400,300')
		// ace styles
		link(rel='stylesheet', href='/admin/css/ace.min.css')
		link(rel='stylesheet', href='/admin/css/ace-rtl.min.css')
		link(rel='stylesheet', href='/admin/css/ace-skins.min.css')

		//if lte IE 8
			link(rel='stylesheet', href='/admin/css/ace-ie.min.css')
		// inline styles related to this page
		// ace settings handler
		script(src='/admin/js/ace-extra.min.js')
		// HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
		<!--[if lt IE 9]>
		script(src='/plugins/html5shiv.js')
		script(src='/plugins/respond.min.js')
		<![endif]-->
	body
		#navbar.navbar.navbar-default
			script(type='text/javascript').
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			#navbar-container.navbar-container
				.navbar-header.pull-left
					a.navbar-brand(href='#')
						| SMS
						small | 后台管理系统
					// /.brand
				// /.navbar-header
				.navbar-header.pull-right(role='navigation')
					ul.nav.ace-nav
						li.light-blue
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								img.nav-user-photo(src='/admin/avatars/user.jpg', alt="Jason's Photo")
								span.user-info
									small 欢迎光临,
									| #{user.displayName}
								i.icon-caret-down
							ul.user-menu.pull-right.dropdown-menu.dropdown-yellow.dropdown-caret.dropdown-close
								li
									a(href='/admin/signout')
										i.icon-off
										| 退出
					// /.ace-nav
				// /.navbar-header
			// /.container
		#main-container.main-container
			script(type='text/javascript').
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			.main-container-inner
				a#menu-toggler.menu-toggler(href='#')
					span.menu-text
				#sidebar.sidebar
					script(type='text/javascript').
						try{ace.settings.check('sidebar' , 'fixed')}catch(e){}

					// #sidebar-shortcuts
					ul.nav.nav-list
						li(class=section=='home'?'active':'')
							a(href='/admin/index')
								i.icon-dashboard
								span.menu-text  控制台
						li(class=((section === 'user' || section === 'users')?'active open': ''))
							a.dropdown-toggle(href='#')
								i.icon-group
								span.menu-text 用户管理
								b.arrow.icon-angle-down
							ul.submenu
								li(class=(section === 'user'?'active': ''))
									a(href='/admin/user?action=toAddUser')
										i.icon-double-angle-right
										| 新增用户
								li(class=(section === 'users'?'active': ''))
									a(href='/admin/users')
										i.icon-double-angle-right
										| 用户查询
						li(class=((section === 'rooms' || section === 'onlineRooms' || section === 'onlineUsers') ? 'active open' : ''))
							a.dropdown-toggle(href='#')
								i.icon-home
								span.menu-text 房间管理
								b.arrow.icon-angle-down
							ul.submenu
								li(class=(section === 'rooms' ? 'active' : ''))
									a(href='/admin/rooms')
										i.icon-double-angle-right
										| 房间管理
								li(class=(section === 'onlineRooms' ? 'active' : ''))
									a(href='/admin/room?action=onlineRooms')
										i.icon-double-angle-right
										| 在线房间列表
								li(class=(section === 'onlineUsers' ? 'active' : ''))
									a(href='/admin/room?action=onlineUsers')
										i.icon-double-angle-right
										| 在线用户列表
						li(class=((section === 'access' || section === 'accesses')?'active open': ''))
							a.dropdown-toggle(href='#')
								i.icon-exchange
								span.menu-text API接入管理
								b.arrow.icon-angle-down
							ul.submenu
								li(class=(section === 'access'?'active': ''))
									a(href='/admin/access?action=toAddAccess')
										i.icon-double-angle-right
										| 新增API接入
								li(class=(section === 'accesses'?'active': ''))
									a(href='/admin/accesses')
										i.icon-double-angle-right
										| API接入查询

					// /.nav-list
					#sidebar-collapse.sidebar-collapse
						i.icon-double-angle-left(data-icon1='icon-double-angle-left', data-icon2='icon-double-angle-right')
					script(type='text/javascript').
						try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
				.main-content
					#breadcrumbs.breadcrumbs
						script(type='text/javascript').
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						ul.breadcrumb
							li
								i.icon-home.home-icon
								a(href='/admin/index') 首页
							li.active=title
					.page-content
						block content
					// /.page-content
				// /.main-content
				#ace-settings-container.ace-settings-container
					#ace-settings-btn.btn.btn-app.btn-xs.btn-warning.ace-settings-btn
						i.icon-cog.bigger-150
					#ace-settings-box.ace-settings-box
						div
							.pull-left
								select#skin-colorpicker.hide
									option(data-skin='default', value='#438EB9') #438EB9
									option(data-skin='skin-1', value='#222A2D') #222A2D
									option(data-skin='skin-2', value='#C6487E') #C6487E
									option(data-skin='skin-3', value='#D0D0D0') #D0D0D0
							span   选择皮肤
						div
							input#ace-settings-navbar.ace.ace-checkbox-2(type='checkbox')
							label.lbl(for='ace-settings-navbar')  固定导航条
						div
							input#ace-settings-sidebar.ace.ace-checkbox-2(type='checkbox')
							label.lbl(for='ace-settings-sidebar')  固定滑动条
						div
							input#ace-settings-breadcrumbs.ace.ace-checkbox-2(type='checkbox')
							label.lbl(for='ace-settings-breadcrumbs') 固定面包屑
						div
							input#ace-settings-rtl.ace.ace-checkbox-2(type='checkbox')
							label.lbl(for='ace-settings-rtl') 切换到左边
						div
							input#ace-settings-add-container.ace.ace-checkbox-2(type='checkbox')
							label.lbl(for='ace-settings-add-container')
								| 切换窄屏
								b
				// /#ace-settings-container
			// /.main-container-inner
			a#btn-scroll-up.btn-scroll-up.btn.btn-sm.btn-inverse(href='#')
				i.icon-double-angle-up.icon-only.bigger-110
		// /.main-container
		// basic scripts
		script(type='text/javascript', src='/admin/js/jquery-2.0.3.min.js')

		script(type='text/javascript').
			if("ontouchend" in document) document.write("<script src='/admin/js/jquery.mobile.custom.min.js'>"+"<"+"script>");
		script(src='/admin/js/bootstrap.min.js')
		script(src='/admin/js/typeahead-bs2.min.js')
		// page specific plugin scripts
		//if lte IE 8
			script(src='assets/js/excanvas.min.js')
		script(src='/admin/js/jquery-ui-1.10.3.custom.min.js')
		script(src='/admin/js/jquery.ui.touch-punch.min.js')
		script(src='/admin/js/jquery.slimscroll.min.js')
		script(src='/admin/js/jquery.easy-pie-chart.min.js')
		script(src='/admin/js/jquery.sparkline.min.js')
		script(src='/admin/js/flot/jquery.flot.min.js')
		script(src='/admin/js/flot/jquery.flot.pie.min.js')
		script(src='/admin/js/flot/jquery.flot.resize.min.js')
		script(src='/admin/js/jquery.colorbox-min.js')
		// ace scripts
		script(src='/admin/js/ace-elements.min.js')
		script(src='/admin/js/ace.min.js')
		script(src='/admin/js/admin.js')

		block js

